.contenedor {
  width: auto;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "caja1 caja1"
    "caja2 caja3"
    "caja4 caja5"
    "caja6 caja7";
  justify-items: center;
  align-items: center;

  .caja {
    @extend .caja-base;
  }

  .caja1 {
    @extend .caja-base;
    grid-area: caja1;
    border: 5px solid red;
  }

  .caja2 {
    @extend .caja-base;
    grid-area: caja2;
    border: 5pxsolid yellow;
  }

  .caja3 {
    @extend .caja-base;
    grid-area: caja3;
    border: 5px solid blue;
  }

  .caja4 {
    @extend .caja-base;
    grid-area: caja4;
    border: 5px solid $mainColor;
  }

  .caja5 {
    @extend .caja-base;
    grid-area: caja5;
    border: 5px solid whitesmoke;
  }

  .caja6 {
    @extend .caja-base;
    grid-area: caja6;
    border: 5px solid pink;
  }

  .caja7 {
    @extend .caja-base;
    grid-area: caja7;
    border: 5px solid red;
  }
}

.caja-base {
  place-content: center;
  font-family: $fontCapra;
  font-size: 24px;
  color: $mainColor;
  padding: 2rem;
}
