h1.a {
  font-family: 'caprasimo';
  font-size: 32px;
  color: antiquewhite;
  text-align: center;
  padding: 10px;
}

h1.b {
  font-family: 'caprasimo';
  font-size: 24px;
  color: grey;
  text-align: center;
}

h3 {
  font-family: 'caprasimo';
  font-size: 32px;
  color: antiquewhite;
  text-align: center;
  display: inline-block;
}

/*texto */
p {
  font-family: 'caprasimo';
  font-size: 24px;
  color: antiquewhite;

}

p.b {
  font-family: 'caprasimo';
  font-size: 20px;
  text-align: center;
  color: grey;

}
