h1.a {
  font-family: $fontCapra;
  font-size: 32px;
  color: $mainColor;
  text-align: center;
  padding: 10px;
}

h1.b {
  font-family: $fontCapra;
  font-size: 24px;
  color: grey;
  text-align: center;
}

h3 {
  font-family: $fontCapra;
  font-size: 32px;
  color: antiquewhite;
  text-align: center;
  display: inline-block;
}

/* texto */
p {
  font-family: $fontCapra;
  font-size: 24px;
  color: $mainColor;

  &.b {
    font-size: 20px;
    text-align: center;
    color: grey;
  }
}
