* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body */

.uno {
  background-image: url("../images/Psicologia-Familiar.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.dos {
  background-color: darkseagreen;
}

/*Imagenes*/
.logo {
  max-width: 5rem;
}
.imagen_chica {
width: 100%;
}

/*Header */


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

/* navegador */

.nav-list {
  font-family: 'caprasimo';
  font-size: 20px;
  list-style-type: none;

  display: flex;
  gap: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: antiquewhite;
}

nav ul li:hover {
  background-color: antiquewhite;
  transition: 3s;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/*titulos y font*/
@font-face {
  font-family: 'caprasimo';
  src: url("../font/Caprasimo-Regular.ttf");
}

h1.a {
  font-family: 'caprasimo';
  font-size: 32px;
  color: antiquewhite;
  text-align: center;
  padding: 10px;
}

h1.b {
  font-family: 'caprasimo';
  font-size: 24px;
  color: grey;
  text-align: center;
}

h3 {
  font-family: 'caprasimo';
  font-size: 32px;
  color: antiquewhite;
  text-align: center;
  display: inline-block;
}

/*texto */
p {
  font-family: 'caprasimo';
  font-size: 24px;
  color: antiquewhite;

}

p.b {
  font-family: 'caprasimo';
  font-size: 20px;
  text-align: center;
  color: grey;

}

/*Contenedor video */
#contenedorPadre {
  display: flex;
  justify-content: center;
}

#contenedorHijo {
  padding: 2rem;
  margin-left: 1%;
  align-self: center;
}

/* tamaño video*/
.videito {
  width: 560px;
  height: 315px;
}

/*contenedores*/

div.b {
  margin-left: 25px;
  display: inline-block;
  width: 30%;
  height: 600px;
  border: 3px solid black;
  background-color: antiquewhite;
}

div.c {
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
  width: 60%;
  height: 600px;
  border: 3px solid black;
  background-color: antiquewhite;
}

div.d {
  margin-left: 100px;
  margin-right: 100px;
  display: inline-block;
  width: 85%;
  height: 600px;
  border: 3px solid black;
  background-color: antiquewhite;
}

.cajita {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 3rem;
  color: black;
  text-decoration: none;
  font-family: 'caprasimo';
  border: black;

}

.cajitas {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3rem;
  margin: 1rem;
  gap: 1rem;
  flex-basis: 500px;
  font-family: 'caprasimo';
  color: antiquewhite;
  border: 3px solid black;
  background-color: blueviolet;

}

/* Contenedores Servicios*/

.contenedor {
  width: auto;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "caja1 caja1"
    "caja2 caja3"
    "caja4 caja5"
    "caja6 caja7";
  justify-items: center;
  align-items: center;
}

.caja {
  place-content: center;
  font-family: 'caprasimo';
  font-size: 24px;
  color: antiquewhite;
}

.caja1 {
  grid-area: caja1;
  border: 5px solid red;
  padding: 2rem;
}

.caja2 {
  grid-area: caja2;
  border: 5px solid yellow;
  padding: 2rem;
}

.caja3 {
  grid-area: caja3;
  border: 5px solid blue;
  padding: 2rem;
}

.caja4 {
  grid-area: caja4;
  border: 5px solid antiquewhite;
  padding: 2rem;
}

.caja5 {
  grid-area: caja5;
  border: 5px solid whitesmoke;
  padding: 2rem;
}

.caja6 {
  grid-area: caja6;
  border: 5px solid pink;
  padding: 2rem;
}

.caja7 {
  grid-area: caja7;
  border: 5px solid red;
  padding: 2rem;
}

/* modificar boottrap*/
.modi {
  font-family: 'caprasimo';
  font-size: 24px;
  color: antiquewhite;
  padding: 1rem;
}

.modi1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.modi2 {
  /* display: flex;
  flex-direction: row; */
  padding: 2rem;
  width: 50%;
  margin: 1rem;
}

.buttonModi {
  padding: 2rem;
  margin-left: 5rem;
}

.buttonModi2 {
  margin-left: 5rem;
}

.mapModi {
  /* display: flex;
  flex-direction: row; */
  padding: 2rem;
  width: 50%;
  margin: 1rem;
  margin-top: 3rem;
}

.contenedorContacto {
  display: flex;
  flex-direction: row;
}

/* footer */

.abajo {
  display: flex;
  flex-flow: rows;
  justify-content: center;
  padding: 3rem;
  color: antiquewhite;
  text-decoration: none;
  font-family: 'caprasimo';

}

.abajos {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 6rem;
  margin: 1rem;
  gap: 1rem;
  color: antiquewhite;
  text-decoration: none;
  font-family: 'caprasimo';
  color: black;

}

/*Responsive */
@media screen and (max-width: 600px) {
  .modi1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .modi2 {
    padding: 1rem;
    width: 100%;
    margin: 1rem;
  }

  .buttonModi {
    padding: 1rem;
    margin-left: 10rem;
  }

  .mapModi {
    padding: 1rem;
    width: 100%;
    margin: 1rem;
    margin-top: 1rem;
  }

  .mapMobil {
    width: 100%;
 
    height: 250px
  }

}

@media screen and (max-width: 600px) {
  h1.a {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "caja1"
      "caja2"
      "caja3"
      "caja4"
      "caja5"
      "caja6"
      "caja7";
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }

  .caja {
    font-size: 18px;
    padding: 1rem;
  }
}


@media screen and (max-width: 600px) {
  .cajita {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 3rem;
    color: black;
    text-decoration: none;
    font-family: 'caprasimo';
    border: black;

  }
}


@media screen and (max-width: 600px) {
  .abajo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 3rem;
    color: antiquewhite;
    text-decoration: none;
    font-family: 'caprasimo';
  }

  .abajos {
    padding: 3rem;

  }

}


@media screen and (max-width: 600px) {

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: antiquewhite;
  }

  .cerrar-menu {
    color: black;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    padding: 2rem;
    box-shadow: 0 0 0 1vmax rgba(0, 0, 0, .5);
    z-index: 10;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;


  }

  .nav-list a {
    color: antiquewhite;

  }

}

@media screen and (max-width: 600px) {
  .videito {
    width: 460px;
    height: 215px;
  }
}

/* tamaño del h1 en mobile */
@media screen and (max-width: 600px) {
  h1 {
    font-family: 'caprasimo';
    font-size: 24px;
    color: antiquewhite;
    text-align: center;
  }
}